# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\anias\OneDrive\Dokumenty\STUDIA\VI\wstep_do_bioinformatyki_L\Zadanie3\Zadanie3_250386\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
